*{
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image: url("field.jpeg");
    background-size: cover;
    background-position: center center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    text-align: center;
    height: 100vh;
    display: flex;
}

.counter-wrapper{
    max-width: 80%;
    width: 700px;
    background-color: whitesmoke;
    margin: auto;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0px 0px 15px 10px black;
    
}

h1 {
    font-size: 2rem;
    color: #990000;
}

h2 {
    font-size: 1.5rem;
    margin: .5em 0;
}

h3 {
    font-size: 1rem;
    margin: .5em 0;
    
}

h4 {
    font-size: 1rem;
    
    
}

button {
    cursor: pointer;
}

.start-btn {
    border: none;
    padding: 1em 2em;
    color: whitesmoke;
    background: #329900;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.rouded-btn {
    border-radius: 50%;
    border: 1px solid darkgrey;
    background-color: whitesmoke;
}


.session-controls,
.break-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.control-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

/* 
background: #283838;


*/

.timer-controls button {
    border: none;
    border-radius: 5px;
    padding: .5em 1em;
    font-weight: bold;
}

.mode-btn {
    border: none;
    border-radius: 5px;
    padding: .5em 1em;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: #0f5d96;
    color: white;
}

.red {
    color: #990000;
}

.green {
    color: #329900;
}